# Git
.git/
.gitignore

# Dev-only config
.vscode/
.devcontainer/devcontainer.json

# R / IDE noise
.Rproj.user/
.Rhistory
.RData
.Rprofile
.Renviron
.Ruserdata/
*.Rproj


temp/
tangential/
# Do not bake instance data into image unless explicitly needed
instance/


# Large generated/data files anywhere
*.rds
*.RDS
*.RData
*.sqlite
*.parquet

# Usually data, but be careful: this ignores all CSVs
# *.csv

# Misc
.DS_Store
.positai/