# Ignore all new top-level files/dirs by default
/*

# Re-include known top-level project files
!.gitignore
!README.md
!deploy-sitehost-wkt.sh
!renv.lock
!global.R
!server.R
!ui.R

# Re-include known top-level dirs
!R/
!www/
!instance/
!.devcontainer/
!instance/reports/
!instance/reports/**
!docs/

# Then control contents inside allowed dirs
instance/config/*
!instance/config/base.R
!instance/config/project.R
!instance/config/environment.R

instance/cache/
instance/app_cache/
instance/logs/

instance/www/media-cache/*
!instance/www/media-cache/.gitkeep

# Normal junk ignores
.DS_Store
.Rproj.user/
.Rhistory
.RData
.Rprofile
.Renviron
.Ruserdata/
*.Rproj
.vscode/
.positai/
.lintrdocs/
